{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
     <br>
     <br>
     <br>
     <br>

    <h1>Se connecter </h1>
    <br><br>
    <div class="form-group">
    
      <form action=" {{ path('security_login') }}" method="post">
            <input type="text" class="form-control" placeholder="" required name="_username" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Login</small>
            <input type="password" class="form-control" required name="_password" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Password</small><br><br>
      
            <button type="submit" class="btn btn-success">Submit</button>
      </form>

    </div>
  </div>

    

        
{% endblock %}