{% extends 'base.html.twig' %}

{% block title %}Extract | Login {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <br>
    <br>
    <br>
    <h1>Extract : Login </h1>
    <br><br>
    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">

            <input type="text" name="_username" id="" class="form-control" placeholder="Username" aria-describedby="helpId"><br>
            <input type="password" name="_password" id="" class="form-control" placeholder="Password" aria-describedby="helpId"><br>
            <button type="submit" class="btn btn-success">Login</button>

        </div>
    </form>

    <br>
    <a name="" id=""  href="{{ path('security_reset') }}" role="button">J'ai oublié le mot de passe</a>

</div>
{% endblock %}