{% extends 'base.html.twig' %}

{% block title %}Extract | Login {% endblock %}

{% block body %}

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 embed-responsive" id="intro">
                <video autoplay loop muted>
                    <source src="video/animation.mp4" type="video/mp4">
                </video>
                <form action="{{ path('security_login') }}" method="post">
                <div id="connexion" class="col-12 text-center">
                    <div class="fond">
                        <h2>Connexion</h2>
                        <input id="un" type="text" name="_username" placeholder="Pseudo">
                        <input id="deux" type="password" name="_password" placeholder="Mot de passe">
                        <a id="mdpoub" href="{{ path('security_reset') }}">Mot de passe oublié ?</a>
                        <input type="submit" value="Connexion">
                        <div class="trait"></div>
                        <a href="{{ path('security_register') }}">Pas encore de compte ? Inscrivez-vous maintenant !</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}