{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <br>
    <br>
    <br>
    <h1>Extract : Login </h1>
    <br><br>
    <form action="" method="post">
        <div class="form-group">

            <input type="text" name="" id="" class="form-control" placeholder="Username" aria-describedby="helpId"><br>
            <input type="password" name="" id="" class="form-control" placeholder="Password" aria-describedby="helpId"><br>
            <button type="submit" class="btn btn-success">Login</button>

        </div>
    </form>
</div>
{% endblock %}