{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


<div class="container">


    <br>
    <br>
    <br>
    <h1>Extract : Registration </h1>
    <br><br>
    <form name="registration" method="post" class="my-form-class">

        <div id="registration" class="form-group">
            
            <input type="text" id="registration_username" class="form-control" placeholder="Username"  name="registration[username]" required="required" maxlength="255" /><br>
            <input type="text" id="registration_email" class="form-control" placeholder="Email" name="registration[email]" required="required" maxlength="255" /><br>
            <input type="password" id="registration_password" class="form-control" placeholder="Password" name="registration[password]" required="required" maxlength="255" /><br>
            {{ form_row(form._token) }}
        </div>
        <button type="submit" class="btn btn-success">Register!</button>
    </form>
</div>
{% endblock %}