{% extends 'base.html.twig' %}

{% block body %}

<br><br><br>
<div class="container">
        <h1>Inscription à Extract</h1>
        <br><br>
    {{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">INSCRIPTION</button>
{{ form_end(form) }}
</div>

  

        
{% endblock %}