{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}


<div class="container">


    <br>
    <br>
    <br>
    <h1>Extract : Reset password </h1>
<br>
    {% for flash_message in app.session.flashBag.get('fail') %}
    <div class="alert alert-danger" role="alert">
        <strong>{{ flash_message }}</strong>
    </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
        <strong>{{ flash_message }}</strong>
    </div>
    
    <a name="" id="" class="btn btn-info" href="{{path('security_login')}}" role="button">Se connecter </a>
    <br>
    {% endfor %}
<br>
    <form action="{{ path('security_reset') }}" method="post">
        <div class="form-group">
            <label for="">Pour changer votre mot de passe , veuillez entrer votre email</label>
            <input type="text" class="form-control" name="user_email" id="" aria-describedby="emailHelpId" placeholder="">
            <small id="emailHelpId" class="form-text text-muted">Un mail de configuration vous sera envoyé </small><br>
            <button type="submit" class="btn btn-primary ">Changer de mot de passe</button>

        </div>
    </form>

</div>
{% endblock %}