{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}


<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 embed-responsive" id="intro">
                <video autoplay loop muted>
                    <source src="video/animation.mp4" type="video/mp4">
                </video>

                {% for flash_message in app.session.flashBag.get('fail') %}
    <div class="alert alert-danger" role="alert">
        <strong>{{ flash_message }}</strong>
    </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
        <strong>{{ flash_message }}</strong>
    </div>
    
    <a name="" id="" class="btn btn-info" href="{{path('security_login')}}" role="button">Se connecter </a>
    <br>
    {% endfor %}

                <div id="changer" class="col-12 text-center animated tdExpandIn">
                    <form action="{{ path('security_reset') }}" method="post">
                    <div class="fondmdp">
                        <h2>Changer de mot de passe</h2>
                        <input id="pseudo" type="text" name="user_email" placeholder="Votre adresse email">
                        <input type="submit" value="Changer de mot de passe">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}