#inscription {
    .fond {
        h2 {
            color:white;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            padding-top:25px;
            padding-bottom:10px;
            margin:0;
        } input[type=text] {
            border:none;
            border-radius:10px;
            padding-left:10px;
            display:block;
            margin: 0 auto;
            width:400px;
            font-family: 'Roboto', sans-serif;
            font-size:1.1em;
        }
        input[type=password] {
            border:none;
            border-radius:10px;
            padding-left:10px;
            display:block;
            margin: 0 auto;
            width:400px;
            font-family: 'Roboto', sans-serif;
            font-size:1.1em;
        }
        input[type=date] {
            border:none;
            border-radius:10px;
            padding-left:10px;
            display:block;
            margin: 0 auto;
            width:400px;
            font-family: 'Roboto', sans-serif;
            font-size:1.1em;
            color:gray;
        } #pseudo {
            margin-top:20px;
            margin-bottom:30px;
            padding-top:5px;
            padding-bottom:5px;
        } #mdp {
            margin-bottom:30px;
            padding-top:5px;
            padding-bottom:5px;
        } #mdpplus {
            margin-bottom:30px;
            padding-top:5px;
            padding-bottom:5px;
        } #datepicker {
            margin-bottom:10px;
            padding-top:5px;
            padding-bottom:5px;
        }  input[type=submit] {
            display:block;
            margin:0 auto;
            border-radius:20px;
            width:250px;
            background:none;
            border:1px white solid;
            font-family: 'Roboto', sans-serif;
            color:white;
            margin-top:35px;
            padding-bottom:5px;
            margin-bottom:30px;
            padding-top:5px;
        } input[type=submit]:hover {
            transform: scale(1.05);
        } input[type=submit]:active {
            background-color: rgba($color: white, $alpha: 0.2);
            border-style:inset;
        } 
    }
}