@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
body{
    font-family: 'Ubuntu', sans-serif;
}

.jeton_div{
    margin: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    background-color: #a9a9a961;
    
    padding-left: 10px;
    
    border-radius: 70px;

    img{
        padding-right: 10px;
    }
}