{% extends 'base.html.twig' %}

{% block title %}Extract | Home {% endblock %}

{% block body %}

    {% block header %} {% endblock %}
<div class="container">
    <br>
    <br>
    <br>
    <h1>Home</h1>
    <br><br>

    {% if app.user %}

    <h3>Bienvenue à toi cher : {{ app.user.username }}</h3>
    <p><a href="{{ path('security_logout') }}">Se déconnecter </a></p>

    <br><br>
  
    <a name="" id="" class="btn btn-success" href="{{ path('partie_creer') }}" role="button">Créer une partie</a>
    {% endif %}

  
</div>
{% endblock %}