{% extends 'base.html.twig' %}

{% block title %}Extract | Home {% endblock %}

{% block body %}


<div class="container">
    <br>
    <br>
    <br>
    <h1>Home</h1>
    <br><br>

    {% if app.user %}

    <h3>Bienvenue à toi cher : {{ app.user.username }}</h3>
    <p><a href="{{ path('security_logout') }}">Se déconnecter </a></p>
    {% endif %}

  
</div>
{% endblock %}