@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
/* line 2, ../sass/app.scss */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* line 6, ../sass/app.scss */
.jeton_div {
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #a9a9a961;
  padding-left: 10px;
  border-radius: 70px;
}
/* line 17, ../sass/app.scss */
.jeton_div img {
  padding-right: 10px;
}
