/* line 1, ../sass/app.scss */
.jeton_div {
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #a9a9a961;
  padding-left: 10px;
  border-radius: 70px;
}
/* line 12, ../sass/app.scss */
.jeton_div img {
  padding-right: 10px;
}
