@font-face {
  font-family: "Leixo";
  src: url("../img/LEIXO-DEMO.ttf") format("truetype");
}
/* line 6, ../sass/plateau.scss */
body {
  margin: 0 auto;
}

/* line 10, ../sass/plateau.scss */
.main {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/fond.jpg");
  background-size: cover;
  background-position: center;
  background-color: #071D25;
}

/* line 23, ../sass/plateau.scss */
.containj {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 35px;
  padding-left: 15px;
}
/* line 29, ../sass/plateau.scss */
.containj .un {
  z-index: 1;
}
/* line 31, ../sass/plateau.scss */
.containj .deux {
  position: relative;
  left: -30px;
  z-index: 2;
}
/* line 35, ../sass/plateau.scss */
.containj .trois {
  z-index: 3;
  position: relative;
  left: -60px;
}
/* line 39, ../sass/plateau.scss */
.containj .quatre {
  z-index: 4;
  position: relative;
  left: -90px;
}
/* line 43, ../sass/plateau.scss */
.containj .cinq {
  z-index: 5;
  position: relative;
  left: -120px;
}
/* line 47, ../sass/plateau.scss */
.containj .six {
  z-index: 6;
  position: relative;
  left: -150px;
}
/* line 51, ../sass/plateau.scss */
.containj .sept {
  z-index: 7;
  position: relative;
  left: -180px;
}
/* line 55, ../sass/plateau.scss */
.containj .huit {
  z-index: 8;
  position: relative;
  left: -210px;
}
/* line 59, ../sass/plateau.scss */
.containj .neuf {
  z-index: 9;
  position: relative;
  left: -240px;
}

/* line 66, ../sass/plateau.scss */
.jeton {
  max-width: 100%;
  max-height: 100%;
  width: 50px;
  height: 50px;
}

/* line 73, ../sass/plateau.scss */
.zonejeu {
  height: 100vh;
  flex: 1;
}

/* line 78, ../sass/plateau.scss */
.plateau {
  width: 1000px;
  height: 750px;
  position: relative;
  top: 10%;
  margin: auto auto;
  /*background-color:#071D25;*/
  display: flex;
  border: 2px solid white;
  background-image: url("../img/plateau.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
/* line 91, ../sass/plateau.scss */
.plateau .jetons {
  width: 300px;
  height: 100%;
  /*background-color:blue;*/
}
/* line 95, ../sass/plateau.scss */
.plateau .jetons .data {
  height: 100px;
  width: 100%;
  /*background-color:rgb(132, 166, 177);*/
}
/* line 99, ../sass/plateau.scss */
.plateau .jetons .plan {
  height: 100px;
  width: 100%;
  /*background-color:lightblue;*/
}
/* line 103, ../sass/plateau.scss */
.plateau .jetons .video {
  height: 100px;
  width: 100%;
  /*background-color:lightblue;*/
}
/* line 107, ../sass/plateau.scss */
.plateau .jetons .bonus {
  height: 150px;
  width: 100%;
  /*background-color: cyan;*/
}
/* line 111, ../sass/plateau.scss */
.plateau .jetons .bonus .colo1 {
  background-color: yellow;
  display: flex;
  width: 100%;
}
/* line 115, ../sass/plateau.scss */
.plateau .jetons .bonus .colo1 .bonus3 {
  flex: 1 auto;
  padding-top: 25px;
}
/* line 118, ../sass/plateau.scss */
.plateau .jetons .bonus .colo1 .bonus3 img {
  display: block;
  margin: 0 auto;
}
/* line 122, ../sass/plateau.scss */
.plateau .jetons .bonus .colo1 .bonus4 {
  flex: 1 auto;
  padding-top: 25px;
}
/* line 125, ../sass/plateau.scss */
.plateau .jetons .bonus .colo1 .bonus4 img {
  display: block;
  margin: 0 auto;
}
/* line 130, ../sass/plateau.scss */
.plateau .jetons .bonus .colo2 {
  background-color: orange;
  width: 100%;
  display: flex;
}
/* line 134, ../sass/plateau.scss */
.plateau .jetons .bonus .colo2 .bonus5 {
  flex: 1 auto;
  padding-top: 25px;
}
/* line 137, ../sass/plateau.scss */
.plateau .jetons .bonus .colo2 .bonus5 img {
  display: block;
  margin: 0 auto;
}
/* line 141, ../sass/plateau.scss */
.plateau .jetons .bonus .colo2 .chameau {
  flex: 1 auto;
  padding-top: 25px;
}
/* line 144, ../sass/plateau.scss */
.plateau .jetons .bonus .colo2 .chameau img {
  display: block;
  margin: 0 auto;
}
/* line 150, ../sass/plateau.scss */
.plateau .jetons .appareil {
  height: 100px;
  width: 100%;
  /*background-color:lightblue;*/
}
/* line 154, ../sass/plateau.scss */
.plateau .jetons .audio {
  height: 100px;
  width: 100%;
  /*background-color:lightblue;*/
}
/* line 158, ../sass/plateau.scss */
.plateau .jetons .disque {
  height: 100px;
  width: 100%;
  /*background-color:lightblue;*/
}
/* line 163, ../sass/plateau.scss */
.plateau .jeu {
  width: 700px;
}
/* line 165, ../sass/plateau.scss */
.plateau .jeu .J2 {
  width: 100%;
  height: 300px;
  /*background-color:rgb(247, 244, 247);*/
}
/* line 169, ../sass/plateau.scss */
.plateau .jeu .J2 .mainJ2 {
  width: 700px;
  height: 50%;
  /*background-color:turquoise;*/
}
/* line 173, ../sass/plateau.scss */
.plateau .jeu .J2 .maletteJ2 {
  width: 700px;
  height: 50%;
  /*background-color:rgb(102, 167, 161);*/
}
/* line 178, ../sass/plateau.scss */
.plateau .jeu .terrain {
  width: 100%;
  height: 150px;
  /*background-color:rgb(250, 192, 250);*/
  display: flex;
}
/* line 183, ../sass/plateau.scss */
.plateau .jeu .terrain .milieu {
  width: 500px;
  height: 100%;
  /*background-color:orangered;*/
}
/* line 187, ../sass/plateau.scss */
.plateau .jeu .terrain .milieu .containt {
  display: flex;
}
/* line 190, ../sass/plateau.scss */
.plateau .jeu .terrain .pioche {
  width: 200px;
  height: 100%;
  /*background-color:orange;*/
}
/* line 195, ../sass/plateau.scss */
.plateau .jeu .J1 {
  width: 100%;
  height: 300px;
  /*background-color:rgb(249, 149, 249);*/
}
/* line 199, ../sass/plateau.scss */
.plateau .jeu .J1 .maletteJ1 {
  width: 100%;
  height: 50%;
  /*background-color:white;*/
  display: flex;
  justify-content: flex-start;
}
/* line 208, ../sass/plateau.scss */
.plateau .jeu .J1 .mainJ1 {
  /*background-color:grey;*/
  width: 100%;
  height: 50%;
}

/* line 217, ../sass/plateau.scss */
.containc2 {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 221, ../sass/plateau.scss */
.containc2 .carteJ2 {
  max-width: 100%;
  width: 80px;
  height: 110px;
  max-height: 100%;
  transform: rotate(180deg);
  margin-right: 10px;
}

/* line 231, ../sass/plateau.scss */
.containc1 {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
/* line 235, ../sass/plateau.scss */
.containc1 .carteJ1 {
  max-width: 100%;
  width: 80px;
  height: 110px;
  max-height: 100%;
  margin-right: 10px;
}

/* line 244, ../sass/plateau.scss */
.containv1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 30px;
}
/* line 249, ../sass/plateau.scss */
.containv1 .carteJ1 {
  max-width: 100%;
  width: 80px;
  height: 110px;
  max-height: 100%;
}
/* line 254, ../sass/plateau.scss */
.containv1 .un {
  z-index: 11;
  position: relative;
  right: -500px;
}
/* line 258, ../sass/plateau.scss */
.containv1 .deux {
  z-index: 10;
  position: relative;
  right: -450px;
}
/* line 262, ../sass/plateau.scss */
.containv1 .trois {
  z-index: 9;
  position: relative;
  right: -400px;
}
/* line 266, ../sass/plateau.scss */
.containv1 .quatre {
  z-index: 8;
  position: relative;
  right: -350px;
}
/* line 270, ../sass/plateau.scss */
.containv1 .cinq {
  z-index: 7;
  position: relative;
  right: -300px;
}
/* line 274, ../sass/plateau.scss */
.containv1 .six {
  z-index: 6;
  position: relative;
  right: -250px;
}
/* line 278, ../sass/plateau.scss */
.containv1 .sept {
  z-index: 5;
  position: relative;
  right: -200px;
}
/* line 282, ../sass/plateau.scss */
.containv1 .huit {
  z-index: 4;
  position: relative;
  right: -150px;
}
/* line 286, ../sass/plateau.scss */
.containv1 .neuf {
  z-index: 3;
  position: relative;
  right: -100px;
}
/* line 290, ../sass/plateau.scss */
.containv1 .dix {
  z-index: 2;
  position: relative;
  right: -50px;
}
/* line 294, ../sass/plateau.scss */
.containv1 .onze {
  z-index: 1;
  position: relative;
  top: 0px;
  right: 0px;
}

/* line 302, ../sass/plateau.scss */
.containv2 {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-left: 30px;
}
/* line 307, ../sass/plateau.scss */
.containv2 .carteJ2 {
  max-width: 100%;
  width: 80px;
  height: 110px;
  max-height: 100%;
  transform: rotate(180deg);
}
/* line 313, ../sass/plateau.scss */
.containv2 .un {
  z-index: 1;
  position: relative;
  left: 0;
}
/* line 317, ../sass/plateau.scss */
.containv2 .deux {
  z-index: 2;
  position: relative;
  left: -80px;
}
/* line 321, ../sass/plateau.scss */
.containv2 .trois {
  z-index: 3;
  position: relative;
  left: -160px;
}
/* line 325, ../sass/plateau.scss */
.containv2 .quatre {
  z-index: 4;
  position: relative;
  left: -240px;
}
/* line 329, ../sass/plateau.scss */
.containv2 .cinq {
  z-index: 5;
  position: relative;
  left: -320px;
}
/* line 333, ../sass/plateau.scss */
.containv2 .six {
  z-index: 6;
  position: relative;
  left: -400px;
}
/* line 337, ../sass/plateau.scss */
.containv2 .sept {
  z-index: 7;
  position: relative;
  left: -480px;
}
/* line 341, ../sass/plateau.scss */
.containv2 .huit {
  z-index: 8;
  position: relative;
  left: -560px;
}
/* line 345, ../sass/plateau.scss */
.containv2 .neuf {
  z-index: 9;
  position: relative;
  left: -640px;
}
/* line 349, ../sass/plateau.scss */
.containv2 .dix {
  z-index: 10;
  position: relative;
  left: -720px;
}
/* line 353, ../sass/plateau.scss */
.containv2 .onze {
  z-index: 11;
  position: relative;
  top: 0px;
  left: -800px;
}

/* line 361, ../sass/plateau.scss */
.containt {
  padding-top: 15px;
  padding-left: 50px;
}
/* line 364, ../sass/plateau.scss */
.containt .carteJ1 {
  max-width: 100%;
  width: 80px;
  height: 110px;
  max-height: 100%;
  margin-right: 10px;
}

/* line 373, ../sass/plateau.scss */
.containp {
  padding-top: 15px;
}
/* line 375, ../sass/plateau.scss */
.containp .carteJ1 {
  padding-left: 65px;
  max-width: 100%;
  width: 80px;
  height: 110px;
  max-height: 100%;
}

/* line 384, ../sass/plateau.scss */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100%;
  width: 20%;
  margin-top: 5vh;
  height: 90vh;
  margin-bottom: 5vh;
  background-color: #071D25;
  border: 2px white solid;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
/* line 398, ../sass/plateau.scss */
.sidebar .proJ1 {
  width: 100%;
  height: 20%;
  /*background-color:rgb(21, 255, 0);*/
  border-bottom: 2px solid white;
  overflow: hidden;
}
/* line 404, ../sass/plateau.scss */
.sidebar .proJ1 .pseudo {
  display: block;
  width: 70%;
  padding-left: 40px;
  padding-top: 10px;
  margin: 0;
  font-weight: 900;
}
/* line 411, ../sass/plateau.scss */
.sidebar .proJ1 .points {
  padding-left: 40px;
  display: block;
  width: 70%;
  padding-top: 5px;
  margin: 0;
}
/* line 417, ../sass/plateau.scss */
.sidebar .proJ1 .win {
  padding-left: 40px;
  display: block;
  width: 70%;
  padding-top: 20px;
  margin: 0;
}
/* line 423, ../sass/plateau.scss */
.sidebar .proJ1 .win li {
  display: inline-block;
}
/* line 427, ../sass/plateau.scss */
.sidebar .proJ2 {
  width: 100%;
  height: 20%;
  /*background-color:rgb(18, 218, 0);*/
  border-bottom: 2px solid white;
}
/* line 432, ../sass/plateau.scss */
.sidebar .proJ2 .pseudo {
  display: block;
  padding-left: 40px;
  width: 70%;
  margin: 0;
  padding-top: 10px;
  font-weight: 900;
}
/* line 439, ../sass/plateau.scss */
.sidebar .proJ2 .points {
  display: block;
  padding-left: 40px;
  width: 70%;
  padding-top: 5px;
  margin: 0;
}
/* line 445, ../sass/plateau.scss */
.sidebar .proJ2 .win {
  display: block;
  padding-left: 40px;
  width: 70%;
  margin: 0;
  padding-top: 20px;
}
/* line 451, ../sass/plateau.scss */
.sidebar .proJ2 .win li {
  display: inline-block;
}
/* line 455, ../sass/plateau.scss */
.sidebar .chat {
  width: 100%;
  height: 20%;
  /*background-color:rgb(15, 186, 0);*/
  border-bottom: 2px solid white;
}
/* line 460, ../sass/plateau.scss */
.sidebar .actions {
  width: 100%;
  height: 20%;
  background-color: #0c9300;
}
/* line 464, ../sass/plateau.scss */
.sidebar .autre {
  width: 100%;
  height: 20%;
  background-color: #086300;
}

@media screen and (max-height: 850px) {
  /* line 473, ../sass/plateau.scss */
  .plateau {
    top: 5%;
  }
}
@media screen and (max-height: 805px) {
  /* line 479, ../sass/plateau.scss */
  .zonejeu {
    height: 850px;
  }
}
