/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "Leixo";
  src: url("../img/LEIXO-DEMO.ttf") format("truetype");
}
/* line 6, ../sass/_header.scss */
body {
  margin: 0 auto;
}

/* line 10, ../sass/_header.scss */
.main {
  max-width: 100%;
  width: 1600px;
  margin: 0 auto;
}

/* line 16, ../sass/_header.scss */
hr {
  width: 50%;
}

/* line 20, ../sass/_header.scss */
#welcome {
  margin-top: 28vh;
}
/* line 22, ../sass/_header.scss */
#welcome img {
  height: 13rem;
}

/* line 27, ../sass/_header.scss */
#bouton {
  margin-top: 20vh;
}
/* line 29, ../sass/_header.scss */
#bouton a {
  padding: 10px 50px;
  border-radius: 50px;
  border: white 2px solid;
  font-size: 2.3rem;
  color: white;
  font-family: "Roboto", sans-serif !important;
  transition: width 0.5s;
}
/* line 37, ../sass/_header.scss */
#bouton a :visited {
  color: white;
}

/* line 43, ../sass/_header.scss */
#bouton a:hover {
  color: white;
  text-decoration: none;
  width: 350px;
}

/* line 49, ../sass/_header.scss */
#indication {
  margin-top: 22vh;
  margin-bottom: 3vh;
  font-size: 0.8rem;
}
/* line 53, ../sass/_header.scss */
#indication p {
  margin: 0;
}
/* line 56, ../sass/_header.scss */
#indication img {
  max-height: 25px;
}

/* line 61, ../sass/_header.scss */
#intro {
  min-width: 100%;
  min-height: 100vh;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 69, ../sass/_header.scss */
#intro video {
  object-fit: cover;
  filter: brightness(50%);
}

/* line 74, ../sass/_header.scss */
#titre {
  margin-bottom: 20px;
}

/* line 78, ../sass/_header.scss */
#news video {
  width: 100%;
}

@media (max-width: 900px) {
  /* line 83, ../sass/_header.scss */
  div {
   
  }
}
/* line 1, ../sass/_connexion.scss */
.fond {
  background-color: #071D25;
  width: 500px;
  height: 450px;
  margin: auto;
  border-radius: 25px;
  margin-top: 15vh;
  margin-bottom: 12.5vh;
  -webkit-box-shadow: 11px 11px 35px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 11px 11px 35px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 11px 11px 35px -10px rgba(0, 0, 0, 0.7);
}

/* line 14, ../sass/_connexion.scss */
.fondmdp {
  background-color: #071D25;
  width: 500px;
  height: 280px;
  margin: auto;
  border-radius: 25px;
  margin-top: 15vh;
  margin-bottom: 12.5vh;
  -webkit-box-shadow: 11px 11px 35px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 11px 11px 35px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 11px 11px 35px -10px rgba(0, 0, 0, 0.7);
}

/* line 29, ../sass/_connexion.scss */
#connexion .fond h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
  margin: 0;
}
/* line 37, ../sass/_connexion.scss */
#connexion .fond input[type=text] {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
/* line 47, ../sass/_connexion.scss */
#connexion .fond input[type=password] {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
/* line 58, ../sass/_connexion.scss */
#connexion .fond #un {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 63, ../sass/_connexion.scss */
#connexion .fond #deux {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 67, ../sass/_connexion.scss */
#connexion .fond input[type=submit] {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 250px;
  background: none;
  border: 1px white solid;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 25px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  padding-top: 5px;
}
/* line 80, ../sass/_connexion.scss */
#connexion .fond input[type=submit]:hover {
  transform: scale(1.05);
}
/* line 82, ../sass/_connexion.scss */
#connexion .fond input[type=submit]:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: inset;
}
/* line 85, ../sass/_connexion.scss */
#connexion .fond a {
  color: white;
  font-size: 1em;
}
/* line 88, ../sass/_connexion.scss */
#connexion .fond #mdpoub {
  font-size: 0.6em;
}
/* line 90, ../sass/_connexion.scss */
#connexion .fond a:visited {
  color: white;
}
/* line 92, ../sass/_connexion.scss */
#connexion .fond a:hover {
  text-decoration: underline;
  color: white;
}

/* line 99, ../sass/_connexion.scss */
.trait {
  border-bottom: 1px white solid;
  width: 350px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 25px;
}

/* line 109, ../sass/_connexion.scss */
#changer .fondmdp h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
  margin: 0;
}
/* line 117, ../sass/_connexion.scss */
#changer .fondmdp input[type=text] {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 130, ../sass/_connexion.scss */
#changer .fondmdp input[type=submit] {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 250px;
  background: none;
  border: 1px white solid;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 25px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  padding-top: 5px;
}
/* line 143, ../sass/_connexion.scss */
#changer .fondmdp input[type=submit]:hover {
  transform: scale(1.05);
}
/* line 145, ../sass/_connexion.scss */
#changer .fondmdp input[type=submit]:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: inset;
}

/* line 3, ../sass/_inscription.scss */
#inscription .fond h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
  margin: 0;
}
/* line 11, ../sass/_inscription.scss */
#inscription .fond input[type=text] {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
/* line 21, ../sass/_inscription.scss */
#inscription .fond input[type=password] {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
/* line 31, ../sass/_inscription.scss */
#inscription .fond input[type=date] {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: gray;
}
/* line 41, ../sass/_inscription.scss */
#inscription .fond #pseudo {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 46, ../sass/_inscription.scss */
#inscription .fond #mdp {
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 50, ../sass/_inscription.scss */
#inscription .fond #mdpplus {
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 54, ../sass/_inscription.scss */
#inscription .fond #datepicker {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 58, ../sass/_inscription.scss */
#inscription .fond input[type=submit] {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 250px;
  background: none;
  border: 1px white solid;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 35px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  padding-top: 5px;
}
/* line 71, ../sass/_inscription.scss */
#inscription .fond input[type=submit]:hover {
  transform: scale(1.05);
}
/* line 73, ../sass/_inscription.scss */
#inscription .fond input[type=submit]:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: inset;
}
