

{% extends 'base.html.twig' %}

{% block body %}
<br><br><br>
    <div class="container">
        <h1>Avec qui voulez vous jouer </h1>
        <br>
            <form action="{{ path('partie_creer') }}" method="post">
    
                    <div>
                        <h3>Utilisateur : </h3>
                        
                        <select name="joueur2">
                            {% for joueur in joueurs %}
                                <option value="{{ joueur.id }}">{{ joueur.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br><br>
                    <div>
                        <input type="submit" value="Créer Partie">
                    </div>
                </form>
    </div>
{% endblock %}

{% block title %}

{% endblock %}