/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "Leixo";
  src: url("../img/LEIXO-DEMO.ttf") format("truetype");
}
/* line 6, ../sass/_header.scss */
body {
  margin: 0 auto;
}

/* line 10, ../sass/_header.scss */
.main {
  max-width: 100%;
  width: 1600px;
  margin: 0 auto;
}

/* line 16, ../sass/_header.scss */
hr {
  width: 50%;
}

/* line 20, ../sass/_header.scss */
#welcome {
  margin-top: 28vh;
}
/* line 22, ../sass/_header.scss */
#welcome img {
  height: 13rem;
}

/* line 27, ../sass/_header.scss */
#bouton {
  margin-top: 20vh;
}
/* line 29, ../sass/_header.scss */
#bouton a {
  padding: 10px 50px;
  border-radius: 50px;
  border: white 2px solid;
  font-size: 2.3rem;
  color: white;
  font-family: "Roboto", sans-serif !important;
  transform: 0.5s;
}
/* line 37, ../sass/_header.scss */
#bouton a :visited {
  color: white;
}
/* line 40, ../sass/_header.scss */
#bouton a:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.5) !important;
}

/* line 48, ../sass/_header.scss */
#indication {
  margin-top: 22vh;
  margin-bottom: 3vh;
  font-size: 0.8rem;
}
/* line 52, ../sass/_header.scss */
#indication p {
  margin: 0;
}
/* line 55, ../sass/_header.scss */
#indication img {
  max-height: 25px;
}

/* line 60, ../sass/_header.scss */
#intro {
  min-width: 100%;
  min-height: 100vh;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 68, ../sass/_header.scss */
#intro video {
  object-fit: cover;
  filter: brightness(50%);
}

/* line 73, ../sass/_header.scss */
#titre {
  margin-bottom: 20px;
}

/* line 77, ../sass/_header.scss */
#news video {
  width: 100%;
}

@media (max-width: 900px) {
  /* line 82, ../sass/_header.scss */
  div {
    background-color: purple;
  }
}
