
<h1>Extract : Mission 312/h1>
<p>Bienvenue à toi <b>{{ username }}</b> <br>
L'aventure ne fait que commencer , connecte toi et joue avec tes amis :)   <br>
Tes identifiants sont : <br><br>
 <b>Utilisateur : </b> {{ username }} <br>
 <b>Mot de passe : </b> {{ plain_pass }} <br>
</p><br>
Bonne chance, <br>
L'Equipe Créaspace 