<h1>Extract : Mission 312</h1>
<p><b>{{ username }}</b> Ton mot de passe a été mis à jour  <br>
   <br>
Tes identifiants <b>NOUVEAUX sont</b> : <br><br>
 <b>Utilisateur : </b> {{ username }} <br>
 <b>Mot de passe : </b> {{ plain_pass }} <br>
</p><br>
<b> Pour se connecter :  </b>http://{{ app.request.server.get('SERVER_NAME') }}/login
 <br>
L'Equipe Créaspace,